<div class="container mt-3" *ngIf="store">
    <div class="row mb-4">
        <div class="col-12">
            <h4>
                {{store.store.name}}
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 50px;">#</th>
                        <th>name</th>
                        <th>price</th>
                        <th>rate</th>
                        <th class="text-center">availablity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of store.products; index as i" (click)="goToProduct(product.product)" class="cursor-pointer">
                        <td>{{i + 1}}</td>
                        <td>
                            {{product.product.name}}
                        </td>
                        <td>
                            {{product.product.price}} $
                        </td>
                        <td>
                            <i class="bi bi-star text-warning"></i>
                            {{product.product.rate}}
                        </td>
                        <td class="text-center">
                            <span class="text-primary">
                                <ng-container *ngIf="product.available">
                                    <i class="bi bi-check-lg text-success"></i>
                                </ng-container>
                                <ng-container *ngIf="!product.available">
                                    <i class="bi bi-x-lg text-danger"></i>
                                </ng-container>
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>